*:root {
    --gainsboru: #D9D9D9;
    --border: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
    gap: 15px;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 80px repeat(12, 1fr);
    grid-template-rows: 2fr 1fr 2fr 3fr;
    grid-template-areas:
        "s h h h h h h h h h h h h"
        "s sn sn sn st st st sh sh sh sf sf sf"
        "s sco sco sco sco sco sco sct sct sct sct sct sct"
        "s o o o o o o o o o a a a";
}

.sidebar {
    border-radius: var(--border);
    grid-area: s;
    background-color: purple;
}

.header {
    border-radius: var(--border);
    grid-area: h;
    background-color: var(--gainsboru);
}

.state-one {
    border-radius: var(--border);
    grid-area: sn;
    background-color: var(--gainsboru);
}

.state-two {
    border-radius: var(--border);
    grid-area: st;
    background-color: var(--gainsboru);
}

.state-three {
    border-radius: var(--border);
    grid-area: sh;
    background-color: var(--gainsboru);
}

.state-four {
    border-radius: var(--border);
    grid-area: sf;
    background-color: var(--gainsboru);
}

.state-chart-one {
    border-radius: var(--border);
    grid-area: sco;
    background-color: var(--gainsboru);
}

.state-chart-two {
    border-radius: var(--border);
    grid-area: sct;
    background-color: var(--gainsboru);
}

.overview {
    border-radius: var(--border);
    grid-area: o;
    background-color: var(--gainsboru);
}

.reminder {
    border-radius: var(--border);
    grid-area: a;
    background-color: var(--gainsboru);
}